.side

  .side__up
    .side__up__box
      %p.side__up__box__user
        oohashi
      %ul.side__up__box__menu
        =link_to "＃", class: "side__up__box__menu" do
          = icon('fa', 'edit')
        =link_to "＃", class: "side__up__box__menu" do
          = icon('fa', 'cog')
      
    
  .side__down
    %p.side__down__name
      aaa
    %p.side__down__message
      まだメッセージはありません